*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: min(40px, 8vw);
    user-select: none; 
}

body{
    background-color: #2A4F6E;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

a{
    text-decoration: none;
    color: currentColor;
}

/*********** COLORI ***********/
.c-red{
    color: red;
}

.red{
    background-color: #ff5454;
}

.green{
    background-color: #BBCD67;
}

/*********** TITLE ***********/
.header-title h1{
    font-family: 'Shizuru', cursive, sans-serif;
    color: #ddd;
    font-size: min(80px, 15vw);
    padding-top: 100px;
}

.header-title img{
    max-width: 200px;
    z-index: 1;
}

/*********** GAME WRAPPER ***********/
.game-wrapper{
    background-color: #FFDBAB;
    width: 100%;
    border-radius: 20px;
    min-height: 400px;
    box-shadow: 8px 5px 15px 8px rgba(0,0,0,0.3);
}

.game-wrapper .subtitle p{
    font-size: 30px;
    margin-bottom: 0;
}


/*********** TIME ***********/
.time_memory{
    font-size: min(28px, 10vw);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.time-wrapper{
    /* max-width: 70px;  */
    max-height: 70px;
    position: relative;
}

.time-wrapper .icon{
    animation: circle-anim 2s linear infinite;
    font-size:  min(70px, 18vw);
}

@keyframes circle-anim {
    0% {transform: rotate(0turn);}
    100%{transform: rotate(1turn);}
}

/*********** INPUT USER ***********/
.game_input >*{
    max-width: 70px;
    text-align: center;
    border-radius: 10px;
    border: none;
    margin: 10px;
}

.mind_wait{
    max-width: 150px;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    animation: mind_move 15s linear infinite;
}

@keyframes mind_move {
    0% {
        left: 0%;
    }
    50%{
        left: calc(100% - 150px);
    }
    100% {
        left: 0%;
    }
}

.mind_wrapper{
    width: 100%;
    min-height: 150px;
}

/*********** STYLE BOTTON ***********/
.btn_style{
    max-height: 60px;
    background-color: #AA72A8;
    color: white;
    font-size: min(7vw, 30px);
    font-family: 'Shizuru', cursive, sans-serif;
    border: none;
    padding: 0 20px 8px;
    transition: all 250ms ease-in-out;
}

.cta_start{    
    animation: scale_move 1s infinite linear;
}

.cta_send{
    background-color: #BBCD67;
    color: black;
}

.cta_start:hover{
    background-color: #BBCD67;
    color: black;
}

.cta_restart:hover{
    background-color: white;
    color: black;
    outline: 3px solid #AA72A8;;
    outline-offset: 3px;
}

.cta_send:hover{
    background-color: white;
    color: black;
    outline: 3px solid #BBCD67;
    outline-offset: 3px;
}

@keyframes scale_move{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}


/*********** ALERT ***********/
.div_alert{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #AA72A8;
    box-shadow: 0px 0px 88px 9999px rgb(0 0 0 / 40%);
    z-index: 999;
    border-radius: 20px;
}

.div_alert .attention{
    font-size: 40px;
    font-weight: 700;
}

.div_alert .alert_text{
    font-size: 25px;
}

.cta_alert{
    background-color: #2A4F6E;
    transition: all 250ms ease-in-out;
}

.cta_alert:hover{
    background-color: #FFDBAB; 
    color: black;
    outline: 3px solid #FFDBAB;
    outline-offset: 3px;
}

/*********** FOOTER ***********/
footer{
    color: white;
    user-select: none;
}

.footer-author{
    font-weight: bold;
}

.author_name{
    color: #ff5454;
    text-decoration: underline;
    cursor: pointer;
    font-size: 18px;
}

.author_name:hover{
    color:  #AA72A8;
}

.footer-author p{
    font-size: 18px;
}


.text-red{
    color: red;
}

.text-blue{
    color: #2A4F6E;
}



/*********** MEDIA ***********/
@media (min-width: 768px){
    .game-wrapper{
        min-height: 370px;
    }

    .time-wrapper{
        position: absolute;
        right: 0;
        bottom: 10px;
    }
    
    .mind_wrapper{
        min-height: 200px;
    }
}